.search-engine {
    background-color: rgb(135, 217, 245);
    width: 40%;
    text-align: center;
    margin: auto;
    border: 6px solid rgb(0, 0, 0);
    padding: 10px;
    }

#search-bar {
    border: 3px solid rgb(0, 0, 0);
}
#video {
    border: 2px solid rgb(0, 0, 0);
}
.click {
    border: 2px solid rgb(0, 0, 0);
    padding: 0.2em;
    width: 20%;
    height: 20%;
}
input:focus {
    background-color: pink;
    border: 2px solid black;
  }

.lower-section {
    display: flex;
    flex-direction: row;
}

.video-results {
    width: 400px;
    height: 240px;
}

.thumbnails {
    width: 320px;
    height: 180px;
}

img {
    object-fit: fill;
}

.header {
    font-size: small;
}

.video {
    width: -webkit-fill-available;
    text-align: center;
}

.list-of-videos {
    cursor: pointer;
}

.hidden {
    display: none;
}